{% load i18n %}
{% autoescape off %}
{% trans "Hello" %} {{ user.get_full_name|default:user.username }},

{% trans "You requested a password reset for your Signox account." %}

{% trans "Click the link below to set a new password:" %}

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

{% trans "This link will expire in 1 hour for security reasons." %}

{% trans "If you didn't request this password reset, you can safely ignore this email. Your password will remain unchanged." %}

---
Signox - {% trans "Sign Language Learning Platform" %}
{% endautoescape %}
